.Root .header {
  background-color: var(--ml-orange);
  color: white;
  height: 120px;
  max-height: fit-content;
  display: flex;
  margin-bottom: 20px;
  padding: 0 10px;
}

.Root .header .wartburg-logo {
  display: none;
  width: 200px;
  height: 100px;
  position: absolute;
  top: 15px;
  background-image: url(../assets/logos/logowhite-1024x614.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 850px) {
  .Root .header .wartburg-logo {
    display: block;
  }
}

.Root .header h1 {
  font-size: 1.8em;
  font-weight: 800;
  margin: auto auto;
  cursor: pointer;
}

.Root .footer {
  margin-top: 50px;
  border-top: 1px solid var(--ml-orange);
  padding-top: 30px;
}

.Root .footer .top {
  padding: 10px 10px;
  background-color: white;
  color: var(--ml-red);
  border: 2px solid black;
  border-radius: 7px;
  font-weight: bold;
}

.Root .footer .wartburg-logo {
  width: 200px;
  height: 100px;
  background-image: url(../assets/logos/logocolor-1024x614.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px auto;
}

@media (prefers-color-scheme: dark) {
  .Root .footer .wartburg-logo {
    background-image: url(../assets/logos/logowhite-1024x614.png);
  }
}

.Root .footer h4 {
  color: var(--ml-red);
}

@media (prefers-color-scheme: dark) {
  .Root .footer h4 {
    color: var(--ml-orange);
  }
}
