:root {
  font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* mine: */
  font-size: 1.2em;

  --ml-blue: rgb(81, 180, 226);
  
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}  */

/* .Root .header {
  width: 100%;
  height: 100px;
  padding: 10px 10px;
  background-color: orange;
  color: white;
}

.Root p {
  
}

.Root .subject-buttons {
  display: flex;
  flex-direction: column;
  align-items: center
}

.Root .subject-buttons button {
  border: 1px solid blue;
  border-radius: 5%;
  width: 75%;
  height: 50px;
  background-color: var(--ml-blue);
  margin-bottom: 20px;
  font-size: 1.2em;
}

.Root .subject-buttons a {
  color: white;
  text-decoration: none;
}

.Subject .back {
  margin-bottom: 20px;
  text-decoration: underline;
} */

.Course {
  position: absolute;
  right: 10px;
  top: 10px;
  /* bottom: 10px; */
}