:root {
  font-family: "Myriad Pro", Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  max-width: 1280px;
  margin: 0 auto;
  text-align: center;

  font-size: 1.2em;

  --ml-blue: #00bcca;
  --ml-dark-blue: #0e3d7f;
  --ml-yellow: #ffcc33;
  --ml-orange: #f58025;
  --ml-red: #9b1111;
  --ml-brown: #794501;
  --ml-grey: #707070;
  --ml-light-grey: #adacac;

  padding: 0 20px;  
}

/* Global styles */

.Root button {
  cursor: pointer;
}

.Root .back {
  color: var(--ml-light-grey);
  text-align: left;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .Root .back {
    color: white;
  }
}

.Root .back::before {
  content: "\2190";
  text-decoration: none;
}

.Root .back span {
  margin-left: 5px;
  text-underline-offset: 5px;
}

.Root a {
  text-decoration: none;
  color: var(--ml-red);
}

.Root a:hover, .Root button:hover, .Root .back span:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  .Root a {
    color: var(--ml-yellow);
  }
}

.Root hr {
  width: 800px;
  max-width: 90%;
  border: 1px solid var(--ml-light-grey);
}